wxPython; sys.platform == 'win32'
https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-16.04/wxPython-4.0.1-cp35-cp35m-linux_x86_64.whl; python_version == '3.5'
https://extras.wxpython.org/wxPython4/extras/linux/gtk3/ubuntu-16.04/wxPython-4.0.1-cp36-cp36m-linux_x86_64.whl; python_version == '3.6'

