[Desktop Entry]

# The type as listed above
Type=Application

# The version of the desktop entry specification to which this file complies
Version=1.0.0

# The name of the application
Name=Zippy Ip Scanner

# A comment which can/will be used as a tooltip
Comment=IP Scanning Tool

# The executable of the application, possibly with arguments.
Exec=zippyscan

Path=

# The name of the icon that will be used to display this entry
Icon=/usr/local/share/zippyipscanner/zippyipscanner.ico

# Describes whether this application needs to be run in a terminal or not
Terminal=false

# Describes the categories in which this entry should be shown
Categories=Network;Utility;Application;